<div class="container">
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Customers</h6>
    </div>
    <div class="card-body">
      <table class="table table-striped" *ngIf="customers">
        <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let c of customers._embedded.customers">
          <td>{{c.id}}</td>
          <td>{{c.name}}</td>
          <td>{{c.email}}</td>
          <td>
            <button (click)="getOrders(c)" class="btn btn-success">Orders</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
